<div class="container-field reservations">
  <h4 class="pb-4">登録済みルーム一覧</h4>
  <table>
    <thead>
      <tr align="center">
        <th>ルーム画像</th>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>合計料金</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>予約確定日時</th>
      </tr>
    </thead>
    
    <tbody>
      <% @reservations.each do |room| %>
        <tr>
          <td>
            <%= link_to "/rooms/#{room.room_id}/reservations/new" do %>
                <% if room.persisted? && room.reservation_image? %>
                  <%= image_tag room.reservation_image.to_s, class: "reservations-image", alt: "部屋画像" %>
                <% else %>
                  <%= image_tag "room_default.jpg", class: "reservations-image", alt: "部屋画像" %>
                <% end %>  
            <% end %>
          </td>
          
          <td class="posts-name">
            <%= link_to(room.reservation_name, "/rooms/#{room.room_id}/reservations/new") %>
          </td>
          <td class="posts-content"><%= room.reservation_introduction %></td>
          <td class="price-icon"><%= room.total %></td>
          <td><%= room.start_date %></td>
          <td><%= room.end_date %></td>
          <td><%= room.created_at.to_s(:datetime_jp) %></td>
        </tr>
      <% end %>  
    </tbody>
  </table>
</div>