<div class="container-field room">
  <h4 class="pb-4">検索結果：<%= @count %>件</h4>
    <div class="row">
      <% @results.each do |room| %>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="room-frame-inner">
            <%= link_to "/rooms/#{room.id}/reservations/new" do %>
              <div class="room-image-out">
                <% if room.persisted? && room.room_image? %>
                  <%= image_tag room.room_image.to_s, class: "room-image", alt: "部屋画像" %>
                <% else %>
                  <%= image_tag "room_default.jpg", class: "room-image", alt: "部屋画像" %>
                <% end %>  
              </div>
            <% end %>
            
            <div class="room-profile">
              <p class="room-profile-name"><%= room.room_name %></p>
              <p class="room-profile-city"><%= room.address %></p>
              <p class="room-profile-charge price-icon"><%= room.charge %></p>
            </div>
          </div>
        </div>
      <% end %>
      
    </div>
</div>