<div class="container room-show">
  <div class="row">
    <div class="col-md-8">
      <% if @room.persisted? && @room.room_image? %>
        <%= image_tag @room.room_image.to_s, class: "room-show-image", alt: "部屋画像" %>
      <% else %>
        <%= image_tag "room_default.jpg", class: "room-show-image", alt: "部屋画像" %>
      <% end %> 
    
      <div class="room-show-detail">
        <div class="room-show-detail-icon">
          <a href="/">
            <%= image_tag @user.user_image.to_s, class: "host-icon" %>
          </a>
        </div>
        
        <div class="room-show-profile">
          <p class="room-show-profile-name"><%= @room.room_name %></p>
          <p class="room-show-profile-address"><%= @room.address %></p>
        </div>
      </div>
      <p class="room-show-detail-content"><%= @room.room_introduction %></p>
    </div>
    
    <div class="col-md-4">
      <div class="room-show-nav">
        <h5 class="price-icon"><%= @room.charge %> / 日</h5>
        
        <div class="room-show-date-select">
          <%= form_for [@room, @reservation], local: true, url: room_reservations_confirm_path(@room) do |f| %>
          
          <%= render "shared/error_message", model: f.object %>
          
            <label for="start_date">開始日</label>
            <%= f.date_field :start_date, class: "form-control mb-4" %>
            
            <label for="end_date">終了日</label>
            <%= f.date_field :end_date, class: "form-control mb-4" %>
            
            <label for="purson_num">人数</label>
            <%= f.number_field :purson_num, class: "form-control mb-4" %>
            
            <%= f.hidden_field :room_id, value: @room.id %>
            <%= f.hidden_field :reservation_user_id, value: current_user.id %>
            
            <%= f.submit "予約する", class: "btn btn-primary form-control" %>
            
          <% end %>
          
            <% if @room.user_id == current_user.id %>
              <%= link_to "ルームを削除する", "/rooms/#{@room.id}", method: :delete, class: "btn form-control delete-btn", data: { confirm: "本当に削除しますか？" } %>
            <% end %>
        
        </div>
      </div>
    </div>
    
  </div>
</div>