<!DOCTYPE html>
<html>
  <head>
    <title>HotelShare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header-inner">
        <div class="header-left-nav">
          <a href="/" >
            <img alt="サイトロゴ画像" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png">
          </a>
          
          <form action="" accept-charset="UTF-8" method="get">
            <div class="header-search d-lg-inline-block d-none">
              <input type="text" name="area" id="area" value class="form-control" placeholder="エリア">
              <i class="fas fa-map-marker-alt"></i>
            </div>
            
            <div class="header-search d-lg-inline-block d-none">
              <input type="text" name="keyword" id="keyword" value class="form-control" placeholder="キーワード">
              <i class="fas fa-search"></i>
            </div>
            <input type="submit" name="commit" value class="d-none" date-disable-with="">
          </form>
        </div>
        <div class="header-right-nav">
          <div class="nav-item d-sm-inline-block d-none">
            
          </div>
          <div class="nav-item">
            <%= link_to("ログイン", "/signup", {class: "btn btn-primary my-2 mx-3"}) %>
            <%= link_to("登録する", :new_user, {class: "btn btn-secondary"}) %>
            <img class="mx-3 p-1 host-icon nav-trigger" alt="メニュー" src="">
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
    
    <footer class="footer">
      <p>© 2020 POTEPAN.INC.</p>
    </footer>
  </body>
</html>
